<a href="https://colab.research.google.com/github/Frokaie/ADV-C79/blob/main/class99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input("Enter the number of rows"))

Enter the number of rows6

In [ ]:
for i in range(0,num):
  for j in range(0,i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
for i in range(0,num):
  for j in range(num,i,-1):
    print("*",end=" ")
  print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(0,num):
  for j in range(num,i,-1):
    print(j,end=" ")
  print()

6 5 4 3 2 1
6 5 4 3 2
6 5 4 3
6 5 4
6 5
6

In [ ]:
for i in range(0,num):
  for j in range(0,i+1):
    print(j,end=" ")
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5